#main-container{
    width: 50%;
    margin: auto;
    padding: 10px;
    text-align: center;
    background-color: aqua;
}

#top{
   
}

label{
    text-decoration: underline;
    font-weight: bolder;
}